<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SuiteCompleta" verbose="2">
	<listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="TodosLosTests">
        <packages>
            <package name="tests"/>
        </packages>
    </test>
</suite>
